@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

body {
  background-color: hsl(0, 0%, 98%);
  font-size: 18px;
  font-family: Epilogue;
  color: hsl(0, 0%, 8%);
}

/* general rules */
ul {
  padding: 0;
  list-style-type: none;
}

/*  NavBar section */

#nav {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: 40px;
  margin-top: 11px;
}

.nav-links {
  display: flex;
  justify-content: center;
  color: hsl(0, 0%, 8%);
  align-items: center;
}

.nav-links .nav-links_link:not(:last-child) {
  margin-right: 30px;
}

.nav-links .nav-links_link {
  cursor: pointer;
}

.login-container {
}

.btn {
  background-color: Transparent;
  cursor: pointer;
  padding: 10px 20px;
}
.login-container .login {
  border: 0;
}

.login-container .register {
  /* border-radius: 12px; */
  border: 1px solid black;
}

/* main section */
* {
  box-sizing: border-box;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 30px 120px 0 150px;
  height: 80.3vh;
}

.hero_left-side {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 100px;
}

.hero_part1 {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.brands {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero_part1 .hero_header h1 {
  margin: 0;
  padding: 0;
  font-size: 70px;
}

.hero_part1 button {
  background-color: black;
  color: white;
  padding: 16px 22px;
  border-radius: 10px;
  cursor: pointer;
  outline: 0;
  border: none;
}

.hero_left-side {
}

.hero_right-side {
  width: 40%;
  text-align: right;
}
.hero_right-side img {
  width: 100%;
  height: 100%;
  text-align: right;
}
